/* Larger blue loader */
.loader {
  width: 220px;
  height: 44px;
  box-shadow: 0 6px 0 #2196f3;
  position: relative;
  clip-path: inset(-88px 0 -11px);
}

.loader:before {
  content: "";
  position: absolute;
  inset: auto calc(50% - 38px) 0;
  height: 110px;
  --g: no-repeat linear-gradient(#2196f3 0 0);
  background: var(--g), var(--g), var(--g), var(--g);
  background-size: 36px 32px;
  animation:
    move 2s infinite linear,
    move2 2s infinite linear;
}

@keyframes move {

  0%,
  100% {
    background-position:
      0 -110px,
      100% -110px;
  }

  17.5% {
    background-position:
      0 100%,
      100% -110px,
      0 -110px,
      100% -110px;
  }

  35% {
    background-position:
      0 100%,
      100% 100%,
      0 -110px,
      100% -110px;
  }

  52.5% {
    background-position:
      0 100%,
      100% 100%,
      0 calc(100% - 36px),
      100% -110px;
  }

  70%,
  98% {
    background-position:
      0 100%,
      100% 100%,
      0 calc(100% - 36px),
      100% calc(100% - 36px);
  }
}

@keyframes move2 {

  0%,
  70% {
    transform: translate(0);
  }

  100% {
    transform: translate(200%);
  }
}
